*{
    Display:flex;
    flex-wrap: wrap; 
    font-family: 'Manrope', sans-serif; 
    box-sizing:border-box /*Jorge*/
}

title {
    display: none; 
}





/*Starts Jorge*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

@media (min-width:600px) {
    .slideshow-container {
        max-width: 500px;
    }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-left: 50%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Ends Jorge*/


.box1 {
    display: flex; 
    background-color: black;

    height: 2%; 
    width: 100%; 
    
    align-content: center; 
    justify-content: center; 

        
}
     

.cabecera {
    width: 98%; 
    justify-content: center; 

    background-color: transparent;
    color: white; 
    
    text-align: center; 
    font-family: 'Manrope', sans-serif;
    font-weight: 200; 
    font-size: 300 px; 
     
}

.logo{

    width: 10%; 
    height: auto;
    padding: 3%;
}
.box2 {
    display: block; 
    background-image:url(../Images/image_intro.png);
    background-size:cover; 
    background-color: #abbac9;
 
    width: 100%; 
    height: 8%;
    
    align-items: center;
    align-content: center; 
  
}


@media (max-width:600px) {
    .box2 {
        background-size: 500px;
    }
}



/******************* Prueba de galeria (NO USADO) *****************/ 




.galeria {
  /*height: calc( 600px + 3em);*/
  width: 69%;
    max-width: 600px;
    height: 564px;
  /*margin:3em auto;*/
    margin: 70px auto;
  position: relative;
    justify-items: center;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;

    width: 100%;
}

.galeria input[type=radio] {
  position: relative;
    bottom: calc(1.5em);
  /*bottom: calc(-600px - 1.5em);*/
  left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

/*GallerySlider*/

.gallery-hero {
  width: 100%;
  margin-top: 150px;
}



/*ENDGallerySlider*/

/*
h2{
    display: none;
}
*/



.introduccion {
    display: none;
    margin: 4%; 
    margin-top: 30%; 
    width: 60%;
   
    color: white;
    
    font-size: 24px; 
    
}


a {
    color: white; 
    text-decoration: none;
    
  
}
    
    
}
.box_links {
    width: 100%; 
    
}


.hello_action {
    padding: 1%;
    margin-left: 1%; 

    padding-left: 3%;
    padding-right: 3%;

    background-color: transparent;
    transition: 0.5s;
    border-radius: 5%; 
}

.hello_action:hover{
     background-color: rgba(255, 255, 255, 0.38)
}





.box3 {
    margin: auto; 
    margin-top: 7%;
    
    flex-direction: column;
    align-content: center; 
    align-items: center; 
    
    
}


.gallery1 {
    
    background-color: black;
    padding: 3%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 98.5%;
}

.gallery_video {

    margin: auto; 
    display: block; 
    background-color: black; 
    padding: 2%;
    padding-bottom: 10%;
}
.SectionTittles{
    background: black;
    color: white; 
    width: 98%; 
    font-size: 15px;
    justify-content: flex-end;
    
    padding: 1%;
    margin-bottom: 3%; 
}

.reviews {
    margin: auto;
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 

    
    padding: 1%; 
}

#video {
    margin: auto; 
    width: 80%; 
    border: solid; 
    justify-content: center; 
    align-content: center; 
    align-items: center;
}


.block-quote {
    margin: auto;
    text-align: center; 
    width: 70%;  
    font-size: 20px; 
}

.reference_block{
    display: block;
    padding-bottom: 8%;
}


.cite-quote {
   
    padding-top: 10%; 
    justify-content; 
}

.work_reference {
    padding-bottom: 10%; 
}
img{
    width: 100%; 
    max-width: 100%; 
}


.editorial_example1 {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: black;
}

.image-quote {
  
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    justify-content: center;
}


video {
    max-width: 100%; 
}

.video_tittle {
    margin: auto; 
    color: white; 
    padding-bottom: 1%; 
    padding-top: 7%; 
    font-size: 13px; 
}


.box4 {
    margin-top: 10%; 
}



.tittle-project {

    width: 100%; 
    justify-content: center; 
    font-size: 28px;
}



.images_box4 {
    width: 45%; 
}



.outstanding_description {
    width: 40%; 
 
    padding-left: 3%; 
    align-content: center; 
}



.cell_description {
    border: solid;
    border-color: transparent; 
    padding: 3%; 
}

.outstanding_project {
    justify-content: center; 
    margin-top: 4%;
}


.scheme_section {
    flex-direction: column; 
    margin-top: 5%; 
    margin-bottom: 5%;
}

.scheme_outstanding {
    font-size: 25px;
    padding-left: 3%;
}

.image_scheme {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%; 
}


.value_list {
    max-width:100%;
    
}

.value_item {
   
    width: 29.5%;
    margin: 1%; 
    padding-left: 1%;
    font-size: 16px;
}


#item1 {
    
    border-left: solid #FACA00 4px; 

}

.tittle_item1 {
    color: #FACA00;
}

#item2 {
    border-left: solid #BE1622 4px; 
}


.tittle_item2 {
     color: #BE1622;
}

#item3 {
     border-left: solid #009FE3 4px; 
}


.tittle_item3 {
     color: #009FE3;
}




.form_box {

    flex-direction: column; 
    width: 100%;
    padding-top: 5%; 
    padding-bottom: 8%;
    
    align-items: center; 
    background-color: black;
    color: white; 
    
    
}

.form_box_1 {
   
    padding: 1%;
    width: 100%;
    justify-content: center;
    
}

.data_project {

    width: 30%;
    
    padding-left: 3%;
    padding-right: 3%;
    
}

.data_item {
    width: 96%; 
   
}


.form_label {

    display: block; 
    width: 100%;
    
}

.form_box2 {

    flex-direction: column; 
    align-items: center; 
    padding: 1%;
    width: 100%;
    justify-content: center;
    
}


.project_class {
    display: block; 
     width: 67.2%;
    
    padding-left: 3%;
    padding-right: 3%;
    
    

}


.check {
    padding: 1%;
    width: 100%; 
}

.check_item {

    width: 48%; 
}



.project_description {
    
    width: 67.2%;
    
    padding-left: 3%;
    padding-right: 3%;
    
  
}

textarea {
    resize: none; 
    max-width: 100%; 
    height: 100px
}


.form_field {
    width: 99%;
    margin-top: 3%;
}


.form_box3 {

    padding: 1%;
    width: 100%;
    justify-content: center;
}


.estimation_box {

    width: 100%;
    justify-content: center; 


}

.estimation_item {

    width: 28%;
    padding-left: 6%;
    padding-right: 6%;
 
}



.button_box {
    width: 100%; 
    padding: 3%;
    justify-content: center; 
}

.form_button {
    width: 40%;
    height: 50px;
    justify-content: center; 
    align-content: center; 
    border-radius: 18px; 
}


.contact_box {
    width: 100%; 
    background-color: #c7b5d9; 
}

.contact_box1 {

    width: 99%; 

    margin-top: 5%;
    margin-bottom: 1%; 
    font-size: 17px;
}

.contact_box2 {

    width: 99%; 
    
    margin-bottom: 2%; 
    display: block; 
    font-size: 17px;
    
}

.contact_box3 {
    width: 99%; 
    
    margin-bottom: 8%; 
    display: block; 
    font-size: 17px;

}

.Various_links {
    display: block; 
    margin-left: 2.9%;
}

.various_links_tittle {
    margin-left: 3.5%; 
}

.info_box {
   margin-left: 2.9%;
 
}

#info_box {
    display: block;
}



.copyright_symbol {
    margin: 2px;
    width: 17px;
}

.copytright_bar {

    font-size: 12px; 
    width: 100%; 
    justify-content: center; 
    padding: 0.5%; 
    
}


#leona {
   
    margin-top: 10%;
    width: 96%;
    background-color: black;
}

#leonaCuadro {
    margin: auto; 
    justify-content: center; 
}






#GallerySlider {
    background: black; 
    margin: auto;
}

#EditorialSection {
    width: 100%; 
    object-fit: cover; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
}






/********************** My CV **********************/


.mycvPage {
    margin: auto;
    width: 100%;
    border: solid blue; 
    justify-content: center;
   object-fit: contain; 
    height:800px; 

}
